<app-energy-listheader></app-energy-listheader>
<table mat-table [dataSource]="tableData" class="mat-elevation-z8">

  <mat-text-column name="name"></mat-text-column>

  <mat-text-column name="description"></mat-text-column>

  <ng-container matColumnDef="modified">
    <th mat-header-cell *matHeaderCellDef> Modified</th>
    <td mat-cell *matCellDef="let element"> {{formatDate(element.modified)}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef> Creation</th>
    <td mat-cell *matCellDef="let element"> {{formatDate(element.creation)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'rowSelected': selectedRowId == row.id}"
      (click)="selectRow(row)">
  </tr>
</table>
