<div>
Activate Tabs:
<p *ngFor="let tab of debugService.tabInfo"> {{tab}} </p>
</div>

<div>
Test Functions:
  <button (click)="ujAction('showContact', 'C00000007')" mat-raised-button color="primary">UjAction showContact C00000007</button>

  <p><mat-checkbox class="example-margin" [(ngModel)]="debugService.debugMode">Show DebugService Information on all Tabs</mat-checkbox></p>


  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of contentTabs"
       (click)="userActivateContentTab(link)"
       [active]="activeContentTab == link"> {{link}} </a>
  </nav>

  <p>
    ModelId: {{modelId}}
  </p>


</div>
