
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-style-primary: mat-palette($mat-blue, 900);
$test-style-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-style-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$test-style-theme: mat-light-theme((
  color: (
    primary: $test-style-primary,
    accent: $test-style-accent,
    warn: $test-style-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($test-style-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//export theme colors
$primary: mat-color($test-style-primary);

//from p5 energy sencha (same variable names, same values)
$selected-background-color: #e0e0e0;
$hovered-background-color: #eee;

//from p5 sencha
$p5-base-color: #1d4881;
$p5-light-base-color: #86aee4;

// hover effect for grid rorws
.mat-row:hover {
  background-color: $hovered-background-color;
}

// todo: should be only be applied within mat-row
// important is needed because otherwhise the hover effect has more priority
.rowSelected {
  background-color: $selected-background-color !important;
}


