<div [className]="classNames.listheader">
  <span [className]="classNames.filterContainer">
    <span [className]="classNames.filterIconContainer">
      <fa-icon [icon]="icons.faFilter"></fa-icon>
    </span>
    <select>
      <option *ngFor="let filter of filters" [value]="filter.value">{{filter.viewValue}}</option>
    </select>
  </span>
  <p [className]="classNames.counter">{{counter}} Datensätze</p>
  <span [className]="classNames.searchIconContainer">
    <fa-icon [icon]="icons.faSearch"></fa-icon>
  </span>
  <button [className]="classNames.menuButton" [disableRipple]="true" [matMenuTriggerFor]="menu" mat-button>
    <fa-icon [icon]="icons.faEllipsisH"></fa-icon>
  </button>
  <mat-menu #menu="matMenu" [className]="classNames.dotMenu">
    <button mat-menu-item>refresh</button>
    <button mat-menu-item>Export</button>
  </mat-menu>
</div>
