@import "src/app/energy-webcomponent/energy-webcomponent.component";
$listheader-height: 38px;

.listheader {
  height: $listheader-height;
  background-color: $p5-light-base-color;
  display: flex;
  flex-direction: row;
  align-items: center;

  .filterContainer {
    height: $listheader-height;
    width: 33%;
    display: flex;
    align-items: center;

    * {
      color: white;
    }

    .filterIconContainer {
      box-sizing: border-box;
      background-color: $p5-base-color;
      width: $listheader-height;
      height: $listheader-height;
      padding: .6rem;

      fa-icon {
      }
    }

    select {
      background-color: $p5-base-color;
      height: 100%;
      width: calc(100% - 1rem);
      border: none;
      display: flex;

    }

    &::after {
      content: ' ';
      border-style: solid;
      border-width: $listheader-height 0px 0px 1rem;
      border-color: transparent transparent transparent $p5-base-color;
    }
  }

  .counter{
    margin-left: 1rem;
    font: 400 14px/16px Open Sans, sans-serif;
    //font-size: .9rem;
    color: $p5-base-color;
  }

  .searchIconContainer{
    margin-left: auto;
    width: $listheader-height;
    height: $listheader-height;
    padding: .6rem;
    box-sizing: border-box;
    color: $p5-base-color;
  }

  .menuButton {
    outline: none;
    border: none;
    background-color: $p5-base-color;
    height: $listheader-height;
    width: $listheader-height;
    padding: .6rem;
    * {
      color: white;
    }
  }
}
